/*
body{
display: grid;
height: 100%;
overflow: hidden;
}
.contenedor{
display: grid;
grid-template: 100px  1fr 150px/ 10% 90%; 
grid-gap: 20px;
grid-template-areas:"header header" 
"left contenido"
"footer footer";
height: 100vh;
scroll-behavior: auto;
}
.item{
background-color: brown;
}
.header{
grid-area: header;
background-image: url(img/imagen_share.png);
width: 100%;
height: 100%;
background-size: auto;  
background-repeat: no-repeat;
background-position: center;
}
.left{
grid-area: left;
}
.contenido{
grid-area: contenido;
}
.footer{
grid-area: footer;
}
.stop-scrolling {

}
*/


.contenedor{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 75px 35px 35px 45px 45px;
grid-gap: 10px;
width: 35%;
text-align: center;
border-style: solid;
border-radius: 10px;
display: none;
}

.item1{
grid-column: 1 /-1;
background-image: url(img/imagen_share.png);
background-color: rgba(0,0,0,0.8);
width: 100%;
height: 100%;
background-size: contain;  
background-repeat: no-repeat;
background-position: left;
}

.item2  ,  .item3 , .item4, .item5{
font-family: fantasy;
font-size: 27px;
text-align: left;
}
.item8{
grid-column: 1 /-1;
font-family: fantasy;
font-size: 27px;
}
input[type=text] {
width: 95%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}
input[type=button] {
background-color: #4CAF50;
color: white;
padding: 20px 80px;
border-radius: 20px; 
font-size:20px;
}
.botonAceptar{
    border-radius: 50px;
    width: 50%;
}

.contenedorDos{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:220px  180px 160px 177px;
    grid-gap: 10px 10px;
}
.itendos1{
    grid-column: 1/  span 3;
}

.iniciodesession{
    background-color: rgba( 174, 98, 228, 0.344 );
    width: 50%;
    height: 50%;
    border-radius: 20px;
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    position: relative;
    top: 35px;
}


.contenedorjeison{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:45px  150px 150px 150px 150px;
    grid-gap: 10px 10px;
    
}

.items4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contenedorimagen2{
width: 100%;
height: 100%;
background-size: contain;  
background-repeat: no-repeat;
background-position: left;  
}

.imagenperfil{
    height: 40px;
    width: 70px; 
}

